@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {  
  --color-primary: #0049AF;
  --color-secondary: #BAD6EB;
  --color-bg: #FFFFFF;
  --color-success: #04B34F;
  --color-error: #A6192E;
  --color-warning: #FF9900;
  --color-text: #222222;
  font-family: 'Poppins',system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}


html, body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Poppins',system-ui, sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}
h1{
  font-weight: 700;
  font-size: 39px;
  line-height: 120%;
}
h2{
  font-weight: 700;
  font-size: 31px;
  line-height: 120%;
}
h3{
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
}
h4{
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}
p {
  font-size: 16px;
  font-weight: 400;
}
div{
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
a{
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}
span{
  font-size: 13px;
  font-weight: 400;
}
button {
  border-radius: 8px;  
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  background-color: var(--color-primary);
  color: var(--color-bg);
  cursor: pointer;
  transition: background-color 0.25s, border-color 0.25s;
}

button:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#app {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: var(--color-bg);
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FFFFFF;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: var(--color-primary);
    color: var(--color-bg);
  }
}
